# General
secret.key

### Flask ###
instance/*
!.gitignore

### Python Patch ###
# Poetry local configuration file
poetry.toml

# LSP config files
pyrightconfig.json

### React ###
.DS_*
logs
**/*.backup.*
**/*.back.*

node_modules/
bower_components/

*.sublime*

psd/
thumb/
sketch/
