nav {
    background-color: rgba(255, 255, 255, 0.1); /* Slightly transparent white */
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* subtle shadow for depth */
}

nav div {
    max-width: 1200px; /* or any other max-width or full width */
    margin: 0 auto;
    display: flex;
    justify-content: center; /* Center the navigation links */
    align-items: center;
}

nav a, nav button {
    color: #ffffff; /* Or any color that fits the website design */
    text-decoration: none; /* Removes underline from links */
    margin-right: 20px; /* Spacing between the links */
    font-size: 16px; /* Appropriate text size */
    padding: 5px 10px; /* Padding for larger click area */
    border-radius: 5px; /* Rounded corners for aesthetics */
    transition: background-color 0.3s; /* Smooth transition for hover effects */
}

nav a:hover, nav button:hover {
    background-color: rgba(0, 0, 0, 0.1); /* Adds a subtle hover effect */
}

nav button {
    border: none; /* Removes the border from button */
    cursor: pointer; /* Changes cursor to pointer on hover */
    background: none; /* Transparent background */
}