.user-feed-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.user-feed-heading {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
    background-color: white; /* White background color */
    padding: 15px; /* Add padding for spacing */
    border-radius: 8px; /* Add border radius for rounded corners */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Add box shadow for depth */
    text-align: center; /* Center align text */
}

.user-card {
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.user-name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333; /* Change font color to black */
}

.user-bio {
    font-size: 16px;
    color: #555; /* Change font color to black */
    margin-bottom: 10px;
}